
.vs/loader-ui/FileContentIndex/c2c6d590-62cc-4341-a04c-4806c0a4d955.vsidx
.vs/loader-ui/FileContentIndex/merges/919a49d8-8683-47ce-b688-8d11c61703de.vsidx
.vs/loader-ui/FileContentIndex/merges/f7e98b10-0cf1-4207-a33f-7f315913372f.vsidx
.vs/loader-ui/FileContentIndex/read.lock
.vs/loader-ui/FileContentIndex/write.lock
.vs/loader-ui/v17/Browse.VC.db
.vs/loader-ui/v17/Browse.VC.db-shm
.vs/loader-ui/v17/Browse.VC.opendb
.vs/loader-ui/v17/Browse.VC.db-wal
.vs/loader-ui/FileContentIndex/4defe224-3860-4f0d-91c9-add6d290ada5.vsidx
